<!DOCTYPE html>
<html >


<body>
 <div class="login">
	<h1>Predict Heart disease Rate</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age" placeholder="age" required="required" />
        <input type="text" name="sex" placeholder="sex" required="required" />
	<input type="text" name="chest pain type" placeholder="chest pain type" required="required" />
	<input type="text" name="resting bp s" placeholder="resting bp s" required="required" />
	<input type="text" name="cholesterol" placeholder="cholesterol" required="required" />
	<input type="text" name="fasting blood sugar" placeholder="fasting blood sugar" required="required" />
	<input type="text" name="resting ecg" placeholder="resting ecg" required="required" />
	<input type="text" name="max heart rate" placeholder="max heart rate" required="required" />
	<input type="text" name="exercise angina" placeholder="exercise angina" required="required" />
	<input type="text" name="oldpeak" placeholder="oldpeak" required="required" />
	
	
		<input type="text" name="ST slope" placeholder="ST slope" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>